/* Some overrides for the default docs template styling */
/* Ideally we'd integrate these directly in the nextra docs starter */

:root {
  --nextra-primary-hue: 204deg;
  --nextra-primary-saturation: 100%;
}

main {
  height: 100%;
}

article h1 {
  font-weight: 800 !important;
}

article h2 {
  font-weight: 700 !important;
}

article h3 {
  font-weight: 600 !important;
}

article h2, article h3 {
  margin: 2rem 0 0 !important;
}

article h1 + h2, article h2 + h3, article h1 + h3 {
  margin: 0.5rem 0 0 !important;
}

.nextra-breadcrumb > div {
  font-weight: 800 !important;
}

.nextra-breadcrumb > div:last-child {
  /*noinspection CssUnresolvedCustomProperty*/
  color: hsl(var(--nextra-primary-hue) 100% 45%/var(--tw-text-opacity)) !important;
}

.dark\:_border-primary-100\/10:is(html[class~=dark] *) {
  border-color: #343434 !important;
}
