.git/
.github/
.idea/
.run/
build/
docs/

prisma-client-go
schema.graphql
.graphqlconfig

**migrations**/
**/*.db
**/*.json
**/*_gen.go
**/prisma-*
**/query-engine-*

Dockerfile
**/*.dockerfile

binaries/build/
