**migrations**/
prisma-*
query-engine-*
prisma-client-go
*.sqlite
*.json
*_gen.go

# build folder for Prisma CLI binaries
build/

schema.temp.*.prisma
# sqlite artifacts
*.db
*.db-journal

# for development purposes
schema.graphql
.graphqlconfig

# JetBrains
.idea/**/csv-plugin.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
*.iws
out/
.idea/httpRequests
