**migrations**/
prisma-*
query-engine-*
prisma-client-go
*.sqlite
*.json
*_gen.go

# build folder for Prisma CLI binaries
build/

schema.temp.*.prisma
# sqlite artifacts
go_client_db_*.db

# for development purposes
schema.graphql
.graphqlconfig
