name: integration test all
on: pull_request
env:
  PRISMA_TELEMETRY_INFORMATION: "prisma-client-go integration-test.yml"

jobs:
  integration:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest] # macos is not supported by GitHub actions

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: integration
        if: steps.changes.outputs.go == 'true'
        run: docker build . -f test/integration/integration.dockerfile -t integration && docker run integration
