name: integration test all
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  integration:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest] # macos is not supported by GitHub actions

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v1

      - name: integration
        run: |
          docker build . -f docker/integration.dockerfile -t integration
          docker run integration
