name: test all
on: pull_request
env:
  PRISMA_TELEMETRY_INFORMATION: "prisma-client-go test.yml"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: '1.19'

      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache
          restore-keys: ${{ runner.os }}-go-
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: deps
        run: go mod download

      - name: setup & generate
        run: go generate -tags setup ./...

      - name: test
        run: go test ./... -v
